//SECTION DU BIG TITLE DE L'HABITAT
.big-titre-specifique-habitat{
    // Taille du conteneur qui aura l'image
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @media (max-width : 430px){
        height: 70vh;
    }

    //Style de l'image du fond
    .backgroung-img-habitats{
        position: absolute;
        object-fit: cover;
        height: 100%; 
        width: 100%;
        filter: opacity(0.5)  drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
    }
} 
// La description de l'habitat
.big-titre-content{
    position: relative;
    height: 100%;
    //On le met qu millieu 
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease; // transition au moment d'ouvir le menu burger  
        // on position l'image et le text =
        .container-img{
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width : "768px"){ //Pour tablet
                display: none; // on enlève l'image car il n'y a pas assez de la place 
            }
        }
        //style du titre de l'habitat
        h2{
            text-transform: uppercase;
            color: white;
            text-align: center;           
            @media (max-width : "1024px"){ //laptop
                font-size: 2rem !important;
            }
            @media (max-width : "431px"){ // mobile
                font-size: 1.3rem !important;
            }
        }
        //style de la description de l'habitat
        p{
            color: white;
            font-size: 1.4rem !important;
            font-weight: 300;
            @media (max-width : "1024px"){ //laptop
                font-size: 0.9rem !important;
            }
            @media (max-width : "431px"){ // mobile
                font-size: 0.7rem !important;
            }
        }
    }
    //Style de l'image
    .img-big-titre{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        padding: 10px; //je met un petit border à l'image
        background-color: $info;
        transition: 0.3s;
        @media (max-width : "1024px"){ //Pour Laptop
            width: 200px;
            height: 200px;
        }
    }
    .img-big-titre:hover{
        transform: scale(1.1);
        }
}
//SECTION DES ANIMAUX DANS LES HABITATS
.habitat-animals{
    //Style du titre
    h2{
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    //Style des liens dans les images
    a{
        width: 100%;
        cursor: default;
    }
    //style des images
    .img-animals{
        width: 100%;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        transition: 0.3s ease;
        @media (max-width : 1024px){ //laptop
            height: 200px;
        }
        @media (max-width : 431px){ //mobile
            height: 120px;
        }
    }

    .img-animals:hover{
        border-radius: 25%;
        transform: scale(1.1);
    }
    //style des certaines images
    .elephant-img{
        object-position: top;
    }
    .hippopotame-img{
        object-position: right;
    }
    .col{ // je met les images bien au millieu
        display: flex;
        justify-content: center;
        margin-top: 30px;
        position: relative;
        @media (max-width : 431px){ //mobile
            margin-top: 15px; 
        }
    }

    p{  // je position les nom des animaux 
        position: absolute;
        color: white;
        font-size: 2rem;
        text-transform: capitalize;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);  // pour centrer le text
        cursor: pointer;
        white-space: nowrap;  // Pour que le text soit dans une seule ligne
        @media (max-width : 1024px){ //laptop
            font-size: 1.5rem;
        }
        @media (max-width : 431px){ //mobile
            font-size: 0.9rem;
            bottom: 3%;
        }
    }
}
// classe pour bouger à gauche la description de l'habitat en cliquant sur le menu burger
.move-left{
    width: 600px !important;
    left: 40% !important;
}