// customisation des couleurs et les fonts
$primary : #1A440C;
$secondary : #709255;
$info : #7B5E2F;
$dark : #001D00;
$font-family-sans-serif : "Asap", sans-serif !default; // headline et subtitle text
.content_Text{ font-family: "Libre Franklin", serif ;} // Police du contenu  
.small_Text {font-family: "signika", serif;} // Police des petits texts
//----------------------------------------------------------------------------------------
//Importation de bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
//----------------------------------------------------------------------------------------
//customization de la taille du font
$fs-1 : 5rem; //headline text
$fs-2 : 4.68rem; // subtitle text
$fs-3 : 2.5rem; // content text
$fs-4 : 1.87rem; // small text

//----------------------------------------------------------------------------------------

// Ajout une petite animation aux liens du navbar 
.nav-link {
    position: relative; /* Nécessaire pour le ::after */
    padding: 5px 0 !important; // Changement du padding original bootstrap
    margin-right: var(--bs-navbar-nav-link-padding-x);
    margin-left: var(--bs-navbar-nav-link-padding-x);
    line-height: 1; // Je colle la ligne au text
    display: inline-block;
}
.nav-link::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 3px; /* l'épaisseur de la ligne */
    bottom: 0;
    left: 0;
    background-color: $info;
    transition: width 0.3s ease-in-out; /* ajout de la transition */
}
.nav-link:hover::after {
    width: 100%; /* étendre la ligne */
}

//------------------------------------------------------------------------------------------

// Corecction du logo avec le responsive
.img_Logo {
    width: 50px;
}
@media (max-width: 576px){
    .img_Logo{
        width: 40px;  // pour les téléphones
    }
}




