//customization de la taille du font
$fs-1 : 5rem; //headline text
$fs-2 : 4.68rem; // subtitle text
$fs-3 : 1.5rem; // content text
$fs-4 : 0.9rem; // small text
// customisation des couleurs et les fonts
$primary : #1A440C;
$secondary : #709255;
$info : #7B5E2F;
$dark : #001D00;
$font-family-sans-serif : "Asap", sans-serif !default; // headline et subtitle text
$font-family-serif : "Libre Franklin", serif; // content Text

//Modification du text des titres
.title-text { 
    font-family: $font-family-sans-serif;
    font-size: 3rem !important;
    font-weight: 800;
}

//Modification du text du contenu
.content-text { 
    font-family: $font-family-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
//Modification du petit text 
.small-text{
    font-family: "signika", serif;
    font-size: 0.9rem;
    font-weight: 200;
} 

.text-justify{
    text-align: justify;
}

//Media queries pour le mobile
@media (max-width: "426px"){
    // pour le text du titre
    .title-text{
        font-size: 1.5rem !important;
        font-weight: 600;
    }
    //pour le text du contenu 
    .content-text{
        font-size: 0.93rem;
        font-weight: 500;
    } 
    //le text petit
    .small-text{
        font-size: 0.62rem;
        font-weight: 100;
    }
    //pour le footer en mobile
    .footer-mobile{
        padding-left: 30px;
    }
}
//Media Queries pour 
//Media Queries pour une laptop L
@media (min-width : "1440px"){ // Pour laptop L
    .content-text{
        font-size: 2rem;
    }
    $fs-1 : 7rem;
    .small-text{
        font-size: 1.1rem;
    }
}

.text-shadow {text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);} // ombre du text

//----------------------------------------------------------------------------------------

//Importation de bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//----------------------------------------------------------------------------------------

//j'ai fait ca pour que l'image du principal contenu sois visible
.header{
    position: relative;
    z-index: 1;
}
// Mettre le navbar devant
.navbar{
    position: absolute;
    width: 100%;
}

// Ajout une petite animation aux liens du navbar 
.nav-link {
    position: relative; /* Nécessaire pour le ::after */
    padding: 5px 0 !important; // Changement du padding original bootstrap
    margin-right: var(--bs-navbar-nav-link-padding-x);
    margin-left: var(--bs-navbar-nav-link-padding-x);
    line-height: 1; // Je colle la ligne au text
    display: inline-block;
    &::after{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 3px; /* l'épaisseur de la ligne */
        bottom: 0;
        left: 0;
        background-color: white;
        transition: width 0.3s ease-in-out; /* ajout de la transition */
    }
    &:hover::after{
        width: 100%; /* étendre la ligne */
    }
}

//------------------------------------------------------------------------------------------

// Corecction du logo avec le responsive
.img-logo {
    width: 50px;
}
@media (max-width: 576px){
    .img-logo{
        width: 40px;  // pour les téléphones
    }
}

//---------------------------------------------------------------------------------------

// j'ai modifié le HTML pour que le footer puisse se mettre en bas de la page
html{
    position: relative; 
    min-height: 100%;
}
// je met le footer en bas de la page
footer.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 12px 5px;
}
//pour que le main ne sois pas cache pour le footer 
main{
    margin-bottom: 264px;
}
// Ajout d'une ligne sur le text du copyright
.ligne{
    position: relative;
    margin-top: 10px;
    left: -15px;
    margin-right: -27px;
}
.ligne::before{
    display: block;
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background-color: white;
}
footer p{
    margin-bottom: 0.5rem;
}
//modification des icons du footer
.icon-footer{
    fill: $info;
    padding: 0px 2px 2px 0px;
}
//Ajout du padding au text du copyright
footer p.ligne{
    padding-right: 15px;
    margin-bottom: 0px;
}

//------------------------------------------------------------------------

.big-titre{
    // Taille du conteneur qui aura l'image
    position: relative;
    background-color: black;
    width: 100%;
    height: 550px;
    // Media queries pour ajuster l'hauteur de l'image et le text
    @media (max-width : "1024px"){ // pour laptop, et tablet
        height: 380px;
    }
    @media (max-width : "426px"){ // Pour mobile
        height: 200px;
        .big-titre-content h2{
            font-size: 0.85rem;
        }
    }
    //Ajout de l'image
    &::before{
        position: absolute;
        content: "";
        background-image: url(../../Assets/image_Bienvenue.jpg); // je l'ai fait comme ca, car le main.css est dans un autre dossier (css)
        background-position: center;
        background-size: cover;
        height: 100%; 
        width: 100%;
        filter: opacity(0.7)  drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    }
    //modification du text sur l'image
    .big-titre-content h2{
            position: absolute;
            top: 40%;
            width: 45%;
            margin-left: 15px;
    }
}

//------------------------------------------------------------------------------------------------


section.container{
    margin-top: 30px;
    margin-bottom: 30px;
}